<strong>Tudo bem, {{ studentName }}?</strong>
<p>
  Você recebeu uma nova resposta para o seu pedido de auxílio. Confira os detalhes abaixo:
</p>
<p>
  <strong>Pergunta: </strong>{{ question }} <br />
  <strong>Resposta: </strong>{{ answer }} <br />
  <br />
  <strong>Qualquer dúvida, não hesite em entrar em contato conosco!</strong>
</p>
