<strong>Tudo bem, {{ studentName }}?</strong>
<p>
  Parabéns! Você acabou de efetuar a sua matrícula na academia Gympoint! Confira os detalhes abaixo:
</p>
<p>
  <strong>Plano: </strong>{{ planTitle }} <br />
  <strong>Data de término do plano: </strong>{{ planEndDate }} <br />
  <strong>Valor: </strong>{{ planPrice }} <br />
  <br />
  <strong>A Gympoint te parabeniza por esse passo importante na busca de uma vida mais saudável!</strong>
</p>
